__pycache__/
*.pyc
.env
.protokoll_assistent_ordner.txt

eingabe/*
!eingabe/.gitkeep
ausgabe/*
!ausgabe/.gitkeep
zwischenstaende/*
!zwischenstaende/.gitkeep
Ergebnis des Meetings wie gewünscht/*
!Ergebnis des Meetings wie gewünscht/.gitkeep
